env
# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual environments
env/
venv/
ENV/
.venv/

# Django stuff
staticfiles/
media/
db.sqlite3

# Env files
.env

# VSCode or other IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS/Windows trash
.DS_Store
Thumbs.db

# Logs
*.log